{
  "extends": ["eslint-config-doly-react", "prettier"],
  "rules": {
    "no-script-url": 0,
    "no-restricted-syntax": 0,
    "linebreak-style": 0,
    "import/extensions": 0,
    "import/no-unresolved": [2, { "ignore": ["^~"] }],
    "react/prop-types": 0,
    "react/jsx-curly-brace-presence": 0,
    "react/jsx-filename-extension": [1, { "extensions": [".js"] }],
    "react/jsx-one-expression-per-line": 0,
    "react/jsx-wrap-multilines": 0,
    "jsx-a11y/anchor-is-valid": 0,
    "jsx-a11y/click-events-have-key-events": 0,
    "jsx-a11y/no-static-element-interactions": 0
  },
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  }
}
