node_modules
lib/
esm/
es/
types/
.idea
dist/
site
.vscode
module-config.js
yarn.lock
package-lock.json
pnpm-lock.yaml
.dumi/tmp
.dumi/tmp-test
.dumi/tmp-production
example
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*