**/*.svg
package.json
package-lock.json
.DS_Store
.eslintignore
.editorconfig
.gitignore
.prettierignore
LICENSE
.eslintcache
*.png
*.jpg
*.gif
*.bmp
yarn-error.log
*.lock
.history
CNAME
/dist
/es
/lib
/site
/public